* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header
{
    width: 100%;
    height: 120px;

    /* background-color: aquamarine; */
}
main
{
    width: 100%;
    /* height: 750px; */
    flex-grow: 1;                                                                                                                                                                               
    /* background-color: coral; */

    display: flex;
    flex-direction: row;
}

.container_navegacao_secoes
{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 50px;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}
.titulo_secao_navegacao
{
    font-family: megrim;
    font-size: 2em;
    color: var(--verde_escuro);
    margin-bottom: 15px;
}
.container_item_nav
{
    width: 70%;
    height: fit-content;
    padding:15px;

    color: var(--fonte);
    font-size: 1.6em;

    border-radius: 10px 10px 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: start;
    
    /* background-color: blanchedalmond; */
}
.container_item_nav:hover
{
    background-color: var(--verde_claro);
    /* color: white; */

    transition: cubic-bezier(0.075, 0.82, 0.165, 1), 0.7s;
}

.aberto_visualizacao
{
    background-color: var(--verde_claro);
    /* color: white; */
}

/*p{
    height: 100%;
    flex-grow: 1;
    background-color: coral;
}*/

.container_conteudo_secoes
{
    height: auto;
    /* max-height: 90vh;  CASO QUEIRAM COM O HEADER*/
    width: 60%;
    

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: center;
    align-items: center;

    /* background-color: blue; */
}

.container_geral_imagem
{
    /* background-color: aqua; */
    width: 160px;
    height: 160px;

    position: relative;
    border: solid 1px var(--verde_escuro);
    border-radius: 80px;
    clip: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.container_obs_pagamento
{
    width: 100%;
}

textarea
{
    margin-top: 10px;
    border-radius: 7px;
    border: 0.5px #3e3e3e solid;
    width: 80%;
    outline: none;
    padding: 10px;
    font-size: 1.2em;
    resize: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;    
    
}

.container_imagem
{
    width: 100%;
    height: 100%;
    border-radius: 80px;
    overflow: hidden;

    /* background-color: darkgreen; */
}

#img_estabelecimento
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#labelInputFile
{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#labelInputFile:hover
{
    cursor: pointer;
}

#input_foto_estabelecimento
{
    width: 100%;
    height: 100%;

    /* background-color: darkgoldenrod; */
    opacity: 0;
    display: none;
}
.container_icone_foto_perfil
{
    width: 35px;
    height: 35px;

    border-radius: 17px;
    position: absolute;
    bottom: 0px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde_padrao);
}
.container_dados_foto_perfil
{
    width: 80%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: brown; */
}

.container_secao
{
    width: 100%;
    height: 100%;
    /* max-height: 70%; CASO QUEIRAM COM O HEADER */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* justify-content: flex-start;
    overflow-y: auto; CASO QUEIRAM COM O HEADER */
    gap: 35px;
    /* background-color: darkgrey; */
}

.container_input, .container_input_checkbox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;

    /* background-color: darkslateblue; */
}

label
{
    width: 100%;
    font-weight: 800;
    font-size: 15px;
}

.container_input input
{
    width: 80%;
    height: auto;
    background-color: transparent;
    border: solid 0.5px var(--fonte);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 2px;
    font-size: 1.2em;
    /* background-color: aquamarine; */
}

/* EXCESSOES */
.container_inputs_multiplos
{
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.parte1, .parte2
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
}

.parte1
{
    flex-grow: 2;
}

.parte2
{
    width: 15%;
}

#input_rua, #input_cidade
{
    width: 100%;
}

h2
{
    margin-bottom: 10px;
    color: var(--verde_escuro);
}

.conteiner_butoes
{
    width: 70%;
    height: fit-content;
    padding:15px;
    
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    color: var(--fonte);
    font-size: 1.6em;
    /* background-color: aqua; */
}

.conteiner_butoes > button
{
    width: 60%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 3px;

    border: none;
    border-radius: 5px;
    color: var(--fonte);
    background-color: white;    
}

.conteiner_butoes > #btn_salvar
{
    background-color: var(--verde_claro);
}

.conteiner_butoes > #btn_salvar:hover
{
    background-color: var(--verde_padrao);
    transform: scale(1.1);
    transition: 0.5s;
}

.conteiner_butoes > #btn_editar:hover
{
    /* background-color: var(--verde_claro); */
    transform: scale(1.1);
    transition: 0.5s;
    color: var(--fonte);
}

/* REGRAS CANCELAMENTO */

#container_secao_dados_login > p
{
    color: red;
    cursor: pointer;
}

footer
{
    /* background-color: crimson; */
    width: 100%;
    height: 120px;
}

@media (min-width: 1726px)
{
    .container_secao
    {
        width: 60%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 35px;
        /* background-color: darkgrey; */
    }
    label
    {
        font-weight: 1200;
        font-size: 20px;
    }
    .container_item_nav
    {
        color: var(--fonte);
        font-size: 2em;
    }
    .container_input input
    {
        font-size: 1.5em;
    }
}