.container_geral_imagem_salao
{
    /* background-color: red; */
    width: 500px;
    height: 350px;

    /* position: relative; */
    border: solid 1px var(--verde_escuro);
    border-radius: 10px;    
    clip: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container_imagem_salao
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: none;

    /* background-color: darkgreen; */
}

#img_salao
{
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    z-index: 8;
    /* background-color: aquamarine; */
}

#labelInputFile
{
    min-width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;
}

#labelInputFile:hover
{
    cursor: pointer;
}

#input_foto_salao
{
    width: 100%;
    height: 100%;

    /* background-color: darkgoldenrod; */
    opacity: 0;
    display: none;
}
.container_icone_foto_salao
{
    width:100%;
    height: 100%;

    border-radius: 17px;
    position: absolute;
    bottom: 0px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.container_dados_foto_perfil
{
    width: 80%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: brown; */
}

#icone_input_imagem
{
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    color: var(--fonte);
}

