
/* ************* FUNDO PERFIL **/

.fundo{
    background-image: linear-gradient(to right,  #C9E9E3, #93DCD0);
    width: inherit;
    height: 200px;
}

/* ************* MAIN - SEÇÃO CONTEUDO **************/

.conteudo{
    width: inherit;
    /* background-color: #494343; */
    display: flex;
    flex-direction: column;
}

/* ************* IMAGEM PERFIL **/

.imgPerfil{
    position: relative;
    width: 200px;
    height: 180px;
    margin-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* z-index: -1; */
}

/* ************* TÍTULO PRINCIPAL **/

.titulo{
    /* background-color: aquamarine; */
    width: inherit;
    height: 65px;
    display: flex;
    align-items: center;
    /* margin-right: 10%; */
}
/* Usar a global na cor do titulo */
.titulo #lblTitulo{
    width: 300px;
    font-size: 2rem;
    font-weight: 600;
    color: #494343;
    margin-right: 20px;
    margin-left: 30px;
}

/* .titulo img{
    margin-left: 20px;
} */

.titulo #lblPontos{
    margin-left: 8px;
}

/* ************* PERFIL FAVORITO **/

.titulo .favorito{
    background-color: #C9E9E3;
    width: 70px;
    height: inherit;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
}

.favorito img{
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
