*{
    box-sizing: border-box;
    margin: 0;
    
}

#imagemAdm input{
   border-radius: 50px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

/* DISPLAY NONE DOS CONTAINERS DE INFORMACOES */


/* footer bolinhas */

#container_estabelecimento{
    margin-top: 8vh;
    /* display: none; */
}

#radio_estabelecimento{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;
}
#container_perfil_adm{
    /* display: none; */
}

#radio_adm{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;
}

#container_dados_localizacao{
    /* display: none; */
}

#radio_localizacao{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;
}

#container_dados_pagamento{
    /* display: none; */
   background-color: blue;
   
}

#radio_pagamento{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;

}
#container_regras_negocio{
    /* display: none; */
    margin-top: 8vh;
}

#radio_negocio{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;

}
#container_funcionamento{
    /* display: none; */
}

#radio_funcionamento{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;
}
#container_login{
    /* display: none; */
   
}

.login_top{
    margin-top: 30vh;
}

#radio_login{
    height: 20px;
    width: 20px;
    background-color: var(--cinza_claro);
    border-radius: 50%;
}



/** INICIO CONTAINER PERFIL ADMINISTRADOR**/

p{
    font-family: 'Raleway';
    font-size: 20px;
}

#p_est{
    font-size: 58px;
    padding-left: 15vw;
    color: var(--fonte);
}

h3{
   color: var(--verde_padrao);
   font-family: 'Megrim';
}

h5{
font-family: 'Raleway';
font-size: 30px;
}

h4{
font-family: 'Raleway';
font-size: 30px;
}

h6{
font-family: 'Raleway';
font-size: 20px;

}


.sessao1{
   
    height: 100vh;
    width: 40%;  

}


.sessao2{
    
}

#user1{
    font-size: 40px;
    color: var(--cinza_claro);
    margin-top: 2vh;

}

#user2{
    font-size: 70px;
    color: var(--fonte);

}

#next{
font-size: 35px;
color: var(--fonte);
}

main{
    display: flex;
}

#titulo{
    font-family: 'Megrim';
    font-size: 48px;
    margin-top: 5vh;
    margin-left: 25vh;
    display: flex;
    height: 43%;

}

#subtitulo{
    font-family: 'Raleway';
    font-size: 35px;
    margin-top: 6vh;
    margin-left: 25vh;
}

#foto_user{
    margin-top: 8vh;
    margin-left: 40vh;
}

#campo{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#informacoes{
    font-family: 'Raleway';
    font-size: 25px;
    margin-left: 10vw;
    margin-top: 10vh;


}

.input_linha{
    width: 30vw;
    height: 60px;
    box-shadow: none;
    border: none;
    border-bottom: 1px #000000 solid;
    font-size: 20px;
    margin-bottom: 40px;

}

/* input image adm*/

input[type='file']{
    display: none;
}

.max-width_adm{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding-left: 50px;
    margin-left: 20vw;
    margin-top: 10vh;
}

#img_photo{
    background-color:rgb(202, 202, 202);
    border: 5px solid rgb(202, 202, 202);
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
    width: 250px;
    height: 250px;
}

#img_photo:hover{
    border: 5px solid var(--verde_claro);
}

/* input image estabelecimento */

input[type='file2']{
    display: none;
}

.max-width_estabelecimento{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#img_photo_estabelecimento{
    background-color:rgb(202, 202, 202);
    border: 5px solid rgb(202, 202, 202);
    border-radius: 50%;
    cursor: pointer;
    width: 200px;
    transition: background .3s;
    margin-left: 250px;
}

#img_photo_estabelecimento:hover{
    border: 5px solid var(--verde_claro);
}
#prestador{
    position: absolute;
    width: 350px;
    margin-top: 37px;
    margin-left: -450px;

}

#imagens{
    position: relative;
    margin-top: 10vh;
    position: fixed;
    
}

#informacoes_continuas{
 display: flex;
 width: 50%;
 height: 200px;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 position: fixed;
 
}

#tela_anterior{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

}

#proxima_tela{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

#bolinhas{
   margin-top: 15vh;
    height: 100%;
    display: flex;
    gap: 10px;
}

#radio1, 
#radio2,
#radio3, 
#radio4, 
#radio5, 
#radio6, 
#radio7
{
    height: 20px;
    width: 20px;
    background-color: var(--verde_padrao);
    border-radius: 50%;
}


/** FIM CONTAINER PERFIL ADMINISTRADOR**/

/**INICIO CONTAINER DADOS LOCALIZACAO**/

#rua_numero{
    display: flex;
   
    gap: 0.5vw;
}
#input_rua{
    width: 30%;
}

#input_numero{
    width: 6%;
    margin-bottom: 20px;
 
}
#place{
    font-size: 50px;
    color: var(--cinza_claro);
}

/** FIM CONTAINER DADOS LOCALIZACAO**/

/* INICIO CONTAINER PERFIL DO SALAO */

#media{
    font-size: 50px;
}

#foto_perfil_salao{
    padding-left: 8vw;
    margin-top: 10vh;
}
#icon_salao{
    font-size: 40px;
    color: var(--cinza_claro);
}


/* FIM DO CONTAINER PERFIL DO SALAO */

/**INICIO CONTAINER DADOS DE PAGAMENTO**/
#borda{
   
}

#checkbox_radio{
    margin: 3vh;
}

#forma_pagamento{
    padding-left: 15vw;
    height: 60vh;
    justify-content: center;
    padding-top: 20vh;
   
}
.radio_pagamento{
    width: 20px;
    height: 20px;
}

#bandeiras{
 
    padding-left: 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#creditCar{
    font-size: 30px;
    color: var(--fonte);
}
#pay{
    font-size: 40px;
    color: var(--cinza_claro);

}

.container_verificacao_taxa_cancelamento, .container_geral_regras
{
    width: 100%;
    height:auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.container_radios_desejo_implementacao_taxa
{
    width: 100%;
    height: auto;
    /* background-color: deeppink; */


    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
}

.container_geral_regras
{   
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    padding-left: 15px;
    /* background-color: darkkhaki; */
}

.container_radios_tipos_taxas
{   
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: yellow; */
}

.container_radio_tipo_taxa
{
    /* background-color: aquamarine; */
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.container_radio
{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    gap: 5px;
    /* background-color: cornflowerblue; */
}

.container_taxa_unica
{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
    /* background-color: chartreuse; */

    font-size: 0.9em;
}

.input_valor_unico
{
    width: 15%;
    height: auto;
    padding: 5px;

    background-color: transparent;
    outline: none;

    border-radius: 5px;
    border: solid 1px  var(--verde_escuro);
    
    font-size: 1.3em;

}

.label_valor_servico
{
    font-weight: 200;
}

.container_regras_cancelamentos
{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 15px;

    padding-left: 15px;
    /* background-color: violet; */
}
 
.container_regra_cancelamento
{
    flex-grow: 1;
    justify-content: space-between;
    padding: 90px;
    border-radius: 7px;
    border: solid 1px  var(--verde_escuro) ;

    /* background-color: tomato; */
}

.informacoes
{
    height: 30vh;
    margin-left: 15vw;
    margin-top: 10vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container_valor_servico
{
    width: 100%;
    height: auto;
   background-color: ;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.container_radios_valor
{
   width: 100%;
   height: auto;

   padding-left: 15px;
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.container_radio_valor_servico
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.container_tolerancia, .container_valor_taxa
{
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;
    /* background-color: yellow; */
}

.label_taxa
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.input_regra
{
    height: auto;
    width: 35px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.7em;
    border: none;
    border-bottom: solid 1px var(--verde_escuro);
    background-color:;
    font-size: 1.3em;
    text-align: center;

    outline: none;

}
.icone_delecao_regra
{
    cursor: pointer;
    color: var(--fonte);
    padding-left: 20vw;
}

.label_radio
{
    font-weight: 300;
    font-size: 15px;
}


/**FIM DOCONTAINER DADOS DE PAGAMENTO**/

/* INICIO CONTAINER REGRAS DE NEGOCIO */
#taxa_cancelamento{
    margin-top: 10vh;
    padding-left: 16vw;
    
    
}

#radio_taxa_cancelamento{
    display: flex;
    gap: 1vw;
    padding-left: 5vw;
    margin-top: 2vh;

}
#padrao_personalizada{
    margin-top: 8vh;
}


#input_pagamento{
    width: 2vw;
    height: 2vh;
}
#info_borda{
    padding-left: 3vw;
    margin-top: 3vh;
}
#buy{
    font-size: 40px;
    color: var(--cinza_claro);
}
#lixo{
    padding-left: 30vh;
}

#adicionar_taxa{
    padding-left: 30vh;
}

/* FIM CONTAINER REGRAS DE NEGOCIO */

 /* INICIO CONTAINER FUNCIONAMENTO  */

 #intervalo_horario{
     padding-left: 10vw;
 }

 #intervalo{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 3vh;
 }

 #radio_intervalo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;

 }
 .funcionamento
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    

    /* background-color: brown; */
}
.container_geral_dia_funcionamento
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* background-color: aqua; */
}

.container_input_checkbox > .container_item_check
{
    width: 0%;
}
.container_item_check
{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    /* background-color: teal; */
}

.container_geral_horarios_funcionamento
{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */

    /* background-color: seagreen; */
}

#container_secao_funcionamento{
  height: 80vh;
}

.container_horario_funcionamento
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;    

    /* background-color: salmon; */
}

.input_hora_funcionamento
{
    height: 30px;
    width: 70px;
    text-align: center;
    padding: 2px;

    background-color: transparent;

    outline: none;
    border: solid 1px var(--verde_escuro);
    border-radius: 5px;
    cursor: pointer;
}


.container_intervalo
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;

    /* background-color: yellow; */
}

.container_secao
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    /* background-color: darkgrey; */
}

.container_radios_intervalo
{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 5px;
    margin-top: 10px;
    /* background-color: violet; */
}

.container_valor_intervalo
{
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    
    /* background-color: sienna; */
}
.container_input_tempo_intervalo
{
    flex-grow: 1;
    display: flex;
    gap: 2px;
    align-items: center;
}

#input_intervalo_padrao
{
    text-align: center;
}
 /* FIM CONTAINER FUNCIONAMENTO  */

 /* INICIO CONTAINER LOGIN */

 #informacoes_login{
    font-size: 25px;
    margin-left: 10vw;
    margin-top: 25vh;

 }

 #icon_login{
     font-size: 40px;
     color: var(--cinza_claro);
 }
 /* FIM CONTAINER LOGIN */

 

   
