* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --cinza_claro: #DBD8D8;
    --verde_padrao: #93DCD0;
    --verde_escuro: #5F9F95;
    --verde_claro: #C9E9E3;
    --fonte: #494343;

}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(227, 227, 227, 0.412);
    display: flex;
    flex-direction: row;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*FONTES */
h1 {
    font-size: 60px;
    font-family: 'Megrim';
    color: white;
    font-weight: 50;

}

h2 {
    font-size: 40px;
    font-family: 'Megrim';
    color: var(--verde_escuro);

}

h3 {
    font-size: 30px;
    font-family: 'Raleway';
}

h4 {
    font-size: 40px;
    font-family: 'Raleway';
    color: var(--fonte);
}

h6 {
    font-size: 30px;
    font-family: 'Raleway';
    color: var(--fonte);

}

a {
    font-size: 1.2rem;
    font-family: 'Raleway';
    text-decoration: none;
    color: var(--verde_escuro);
}

p {
    font-size: 20px;
    font-family: 'Raleway';
}

#dados {
    font-size: 40px;
}

label {
    font-size: 20px;
    font-family: 'Raleway';
}

/****************** Modal *********************/

#container_header {
    display: flex;
    gap: 10px;

}

#sou_prestador {
    text-decoration: none;
    color: #000000;
    cursor: not-allowed;
}

#sou_consumidor {
    text-decoration: none;
    color: #000000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid rgb(182, 182, 182);
    width: 50%;
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza_claro);
    opacity: 70%;
    width: 50%;
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.header2:hover {
    border: 1px solid linear-gradient(var(--verde_claro), var(--verde_padrao));
    background-image: linear-gradient(var(--verde_claro), var(--verde_padrao));
    transform: 1.5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 160%;
    height: auto;
    border: solid rgb(182, 182, 182);
    opacity: 1;
    padding: 10%;
}

#modal {
    transition: var(--color-bg-fundo);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-fundo);
    transition: all .4s;
    align-self: center;

}

.informacoes {
    /* width: 90%; */
    padding-top: 10%;
    padding-bottom: 5%;
}

#modal:target {
    opacity: 1;
    visibility: visible;
}

.logo {
    width: auto;
    margin-top: 5%;
    /* height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

#ntc {
    display: flex;
    gap: 7px;
    margin-top: 3%;
}


/**style**/

#coluna_lateral {
    background-image: linear-gradient(var(--verde_claro), var(--verde_padrao));
    border-radius: 0px 30px 30px 0px;
    width: 200px;
    height: 100vh;
}

.input_linha {
    height: 35px;
    box-shadow: none;
    border: none;
    border-bottom: 1px #000000 solid;
    font-size: 1.2rem;
    font-family: 'Raleway';
    color: var(--fonte);
    margin-bottom: 45px;
    width: 100%;
}

#campo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#entrar {
    width: 40%;
    height: 100%;
    padding: 3%;
    font-size: 1.3rem;
    background-color: var(--verde_padrao);
    border: var(--verde_padrao);
    border-radius: 10px;
    color: white;
    /* margin: 50px;
    margin-left: 130px; */
    cursor: pointer;

}

#entrar:hover {
    border: 1px solid linear-gradient(var(--verde_claro), var(--verde_padrao));
    background-image: linear-gradient(var(--verde_claro), var(--verde_padrao));
    transform: 1.5;
}