.container_filtros {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
    
  /* CHROME EDGE SAFARI OPERA */
  .container_filtros::-webkit-scrollbar {
    width: 1px;
  }
  
  .container_filtros::-webkit-scrollbar-track {
    background: 235, 232, 232;
  }
  
  .container_filtros::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 7px;
    border: 6px solid rgba(255, 255, 255, 0);
  }
  
  body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }