*
{
    box-sizing: border-box;
    margin: 0;
}

main
{
    max-width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    /* background-color: rebeccapurple; */
}


/* --------- CHAMARIZ --------- */
.container_geral_chamariz
{
    width: 100%;
    height: 60vh;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    /* background-color: red; */
}

.container_chamariz
{
    width: 100%;
    max-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    margin-top: 70px;

    background: linear-gradient(100.09deg, #C9E9E3 31.65%, #93DCD0 98.88%);
}

.container_textos_chamariz
{
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    gap: 50px;

    /* background-color: greenyellow; */
}

.container_titulo_chamariz
{
    width: 100%;

    display: flex;
    align-items:center;
    justify-content: flex-end;

    /* background-color: blue; */
}

.titulo_chamariz
{
    font-size: 110px;
    text-shadow: -5px 5px var(--verde_escuro);
    font-family: "Megrim";
    color: var(--verde_escuro);

    /* background-color: yellow; */
}

/* .container_texto_secundario_chamariz
{
    width: 100%;
        
    display: flex;
    align-items:center;
    justify-content: flex-end;

    background-color: darkgoldenrod;
}

.container_texto_secundario_chamariz
{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
} */

.container_aviso_chamariz
{
    width: 100%;
        
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 15px;
    
    /* background-color: teal; */
}

.aviso_chamariz
{
    text-align: end;
    font-size: 15px;
}

.container_icone
{
    height: 100%;
    /* background-color: red; */
}

.container_icone > img
{
    transform: rotate(180deg);
}

.container_texto_aviso_chamariz
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */

}

.aviso_chamariz
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.container_imagem_chamariz
{
    max-height: 100%;
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    justify-content: end;

    
    /* background-color: burlywood; */
}

.container_imagem_chamariz > img
{
    max-height: 100%;
    height: 100%;
    width: auto;



    object-fit: fill;
    /* background-color: pink; */
}



/* ------------ AGENDA -------  */
.container_agenda
{
    width: 100%;
    max-height: 30%;

    overflow-y: auto;

    padding: 50px 120px 40px 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    
    gap: 50px;

    /* background-color: yellow; */
}

.container_titulo
{
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: start;

    /* background-color: green; */
}

.container_titulo > h2
{
    font-family: "Megrim";
    color: var(--verde_escuro);
    font-weight: 800;
    font-size: 30px;
}

.container_geral_listagem_agendamentos
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;

    /* background-color: pink; */
}

.aviso_sem_agendamentos
{
    width: 100%;
    height: 100px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;

    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.075);
    /* background-color: brown; */
}

.aviso_sem_agendamentos>.icone_agenda
{
    font-size: 2em;
    color: var(--fonte);

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

.lista_agendamentos
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    gap: 50px;
    /* background-color: orange; */
}

.container_geral_listagem_dia
{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    /* background-color: green; */
}

.container_dia_mes
{
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    padding: 5px;

    /* background-color: pink; */
}

.dia_mes
{
    font-size: 2rem;
    font-family: "Megrim";
    font-weight: 500;
    text-align: center;
    /* background-color: turquoise; */
}

.mes
{
    font-size: 1.3rem;
    font-family: "Megrim";
    font-weight: 500;
    text-align: center;
    /* background-color: tomato; */
}

.container_compromissos_dia
{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-left: solid 1px var(--verde_escuro);

    gap: 50px;
    /* background-color: purple; */
}

.container_compromisso
{
    width: 100%;
    height: 100px;
    min-height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 10px;

    /* background-color: blue; */
}

.container_horarios_compromisso
{
    min-height: 100%;
    
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    justify-content: center;

    gap: 5px;

    /* background-color: red; */
}

.container_horarios
{
    min-height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* background-color: yellow; */
}

.container_geral_horario
{
    min-height: 100%;
    /* flex-grow: 1; */

    display: flex;
    flex-direction: row;
    justify-content: center;

    /* background-color: saddlebrown; */
}

.container_geral_horario_inicio
{
    align-items: flex-start;
}

.container_geral_horario_termino
{
    align-items: flex-end;
}

.horario
{
    height: 50%;

    /* background-color: pink; */
}

.container_enfeite_horarios
{
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* background-color: tomato; */
}

.linha_entre_bolinhas
{
    width: 0;
    flex-grow: 1;

    border-left: solid 1px var(--verde_padrao);
}

.bolinha_horario_compromisso
{
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: var(--verde_escuro);
}

.container_informacoes_compromisso
{
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    gap: 30px;

    background-color: #eceaea;
    /* background-color: springgreen; */
}

.container_titulo_compromisso
{
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    padding-left: 10px;

    /* background-color: tomato; */
}

.container_titulo_compromisso > .titulo_compromisso
{
    width: 100%;
    max-width: 100%;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    color: var(--fonte);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container_demais_infos_compromisso
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: teal; */
}


.container_info_salao_compromisso, .container_info_preco_compromisso
{
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    /* background-color: blue; */
}

.container_info_salao_compromisso>span, .container_info_preco_compromisso>span
{
    font-size: 2em;
    color: var(--fonte);

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48

    /* background-color: blue; */
}

/* ---------- PESQUISA E LISTAGEM --------- */

.container_geral_pesquisa
{
    width: 100%;

    padding: 50px 120px 40px 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 50px;

    /* background-color: green; */
}

/* --------- BARRA DE PESQUISA --------- */

.container_geral_barra_pesquisa
{
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
    /* background-color: orange; */
}

.container_barra_pesquisa
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* background-color: red; */
}

.container_barra_pesquisa > .icone_add_servico, .icone_config_servico:first-child
{
    
    font-size: 2.5em;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    color: var(--fonte);
}

.container_barra_pesquisa > .icone_add_servico:hover, .icone_config_servico:first-child:hover
{
    cursor: pointer;
    transform: rotate(90deg) scale(1.1);
    color: var(--verde_escuro);
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
    transition: 0.7s;
}

.barra_pesquisa
{
    flex-grow: 1;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;

    gap: 10px;

    border-radius: 7px;

    background-color: #F1F1F1;
}

.input_barra_pesquisa
{
    flex-grow: 1;
    height: 100%;
    outline: none;
    border: none;
    padding: 3px;
    font-size: 1.3em;
    background-color: transparent;
}

.barra_pesquisa > span
{
    font-size: 1.5em;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    color: var(--verde_escuro);
}

.container_geral_tratamento_pesquisa
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 30px;
    padding-right: 30px;

    gap: 20px;

    /* background-color: purple; */
}

.container_geral_indicacao_saloes
{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* background-color: peru; */
}

.container_titulo_container
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    /* background-color: teal; */
}

.container_titulo_container > .titulo_container
{
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 22px;

    text-decoration-line: underline;    
}

.container_listagem_indicacao_saloes
{
    max-width: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;

    padding: 5px;

    overflow-y: hidden;
    overflow-x: scroll;

    /* background-color: tomato; */
}

.container_salao
{
    min-width: 100px;
    max-width: 100px;
    width: 100px;

    min-height: 100px;
    max-height: 100px;
    height: 100px;

}

.container_salao > img
{
    max-height: 100%;
    height: 100%;
    width: 100%;

    object-fit: cover;

    border-radius: 50%;
    border: solid 2px var(--verde_escuro);
}

.container_geral_categorias
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    /* background-color: brown; */
}

.container_categorias
{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    /* background-color: gold; */
}
.container_categoria
{
    height: 60px;
    width: 170px;  

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    padding-left: 8px;
    
    background: linear-gradient(89.06deg, #F4F2F2 6.51%, #C9E9E3 45.97%, #93DCD0 81.34%);
    border-radius: 10px 10px 0px 0px;
}

.container_fundo_filtro
{
    height: 100%;
    width: 30%;
    width: fit-content;

    /* background-color: red; */
}

.container_fundo_filtro > img
{
    max-height: 100%;
    height: 100%;

    object-fit: scale-down;
}
.container_info_filtro
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: violet; */
}
.container_geral_listagem_resultante
{
    /* background-color: aqua; */
}