*
{
    box-sizing: border-box;
    margin: 0;
}

main
{
    max-width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    background-color: rebeccapurple;
}


/* --------- CHAMARIZ --------- */
.container_geral_chamariz
{
    width: 100%;
    height: 60vh;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    /* background-color: red; */
}

.container_chamariz
{
    width: 100%;
    max-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    margin-top: 70px;

    background: linear-gradient(100.09deg, #C9E9E3 31.65%, #93DCD0 98.88%);
}

.container_textos_chamariz
{
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    gap: 50px;

    /* background-color: greenyellow; */
}

.container_titulo_chamariz
{
    width: 100%;

    display: flex;
    align-items:center;
    justify-content: flex-end;

    /* background-color: blue; */
}

.titulo_chamariz
{
    font-size: 110px;
    text-shadow: -5px 5px var(--verde_escuro);
    font-family: "Megrim";
    color: var(--verde_escuro);

    /* background-color: yellow; */
}

/* .container_texto_secundario_chamariz
{
    width: 100%;
        
    display: flex;
    align-items:center;
    justify-content: flex-end;

    background-color: darkgoldenrod;
}

.container_texto_secundario_chamariz
{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
} */

.container_aviso_chamariz
{
    width: 100%;
        
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 15px;
    
    /* background-color: teal; */
}

.aviso_chamariz
{
    text-align: end;
    font-size: 15px;
}

.container_icone
{
    height: 100%;
    /* background-color: red; */
}

.container_icone > img
{
    transform: rotate(180deg);
}

.container_texto_aviso_chamariz
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */

}
.aviso_chamariz
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.container_imagem_chamariz
{
    max-height: 100%;
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    justify-content: end;

    
    /* background-color: burlywood; */
}

.container_imagem_chamariz > img
{
    max-height: 100%;
    height: 100%;
    width: auto;



    object-fit: fill;
    /* background-color: pink; */
}



/* ------------ AGENDA -------  */
.container_agenda
{
    width: 100%;
    background-color: yellow;
}


/* ---------- PESQUISA E LISTAGEM --------- */
.container_geral_pesquisa
{
    width: 100%;
    background-color: green;
}